.mce-content-body img.wp_uyd_shortcode{
  background: #0078d7 url(images/shortcode_image.png) no-repeat center center;
  height: 150px;
  width: 99%;
  border: 1px solid #aaa;
  outline: 0;
  cursor: pointer;
}

.mce-content-body img.wp_uyd_shortcode:hover {
  background-color: #0078d7;
  border-color: white;
  border-style: dotted;
}
#wp-uyd-toolbar {
  position: absolute;
  line-height: 1;
}

#wp-uyd-toolbar div {
  margin-top: 7px;
  margin-right: 7px;
  padding: 2px;
  width: 30px;
  height: 30px;
  box-shadow: 0 1px 3px rgba(0,0,0,0.5);
  background-color: #000;
  background-color: rgba(0,0,0,0.9);
  cursor: pointer;
  color: white;
  font-size: 30px;
}
#wp-uyd-toolbar div:hover {
  box-shadow: 0 1px 3px rgba(0,0,0,0.8);
  background-color: #000;
  color: #2ea2cc;
}
