#wpcontent{
  padding:20px;
}
body:not(.toplevel_page_wpcf7) #TB_ajaxContent {
  padding: 0;
  max-width: 100%;
  min-height: initial !important;
}

body.useyourdrive {
  margin:0;
  padding:0;
  overflow-y: scroll;
  text-align: left;
  background: #FFF;
}

.useyourdrive.admin-settings{
  min-height: 800px; z-index: 1;
  background: #f9fafb;
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
}
.useyourdrive .wrap{
  margin:10px 20px;
}
.useyourdrive{
  font-family: "Segoe UI",Tahoma,Arial,sans-serif;
  font-weight: 400;
  color:#666666;
  line-height: initial;
}
#UseyourDrive div, #UseyourDrive input,
.useyourdrive div, .useyourdrive input{
  box-sizing:border-box;
  -moz-box-sizing: border-box;
  text-align: left;
}

.useyourdrive a {
  color: #0078d7;
  text-decoration: none;
}
.useyourdrive a:focus, .useyourdrive a:hover {
  color: #052a65;
}

.useyourdrive ul {
  list-style: initial;
  padding-left: 40px;
}
.useyourdrive ul.dd-options{
  list-style: none;
  padding: 0;
}

.useyourdrive small {
  font-size: smaller;
}

.useyourdrive .nopadding{
  padding:0 !important;
}

.useyourdrive .tbpadding10{
  padding-top:10px !important;
  padding-bottom:10px !important;
}
.useyourdrive .useyourdrive-header{
  height:64px;
  line-height: 64px;
  top:0;
  left:0;
  right:0px;
  background-color: #0078d7;
  color:#FFF;
  position: fixed;
  z-index: 999;
}
.useyourdrive .useyourdrive-header .useyourdrive-logo{
  padding-left: 10px;
  width:60px;
  float:left;
}
.useyourdrive .useyourdrive-header .useyourdrive-title{
  margin-left: 60px;
  padding-left: 30px;
  font-size: 32px;
  font-weight: bold;
  line-height: 59px;
}

.useyourdrive .useyourdrive-header .useyourdrive-form-buttons{
  position: absolute;
  right: 0px;
}

.useyourdrive .useyourdrive-panel{
  padding:20px 0px;
  margin-top: 64px;
}
.useyourdrive .useyourdrive-panel-left{
  overflow: hidden;
  top: 0;
  bottom: 0;
  left: 0;
  border-right: 1px solid #eaeaea;
  background-color: #ffffff;
  width: 200px; 
  position: fixed;
  z-index: 999;
}
.useyourdrive.admin-settings .useyourdrive-header,
.useyourdrive.admin-settings .useyourdrive-panel-left{
  position: absolute;
}


.useyourdrive .useyourdrive-panel-right{
  margin-left: 200px;
  position: relative;
  -ms-flex: auto;
  flex: auto;
  padding-left: 30px;
}

.useyourdrive .useyourdrive-panel-full{
  position: relative;
  padding: 20px;
}

.useyourdrive .useyourdrive-nav-header{
  font-size:12px;
  cursor: default;
  color: #767676;
  padding:8px 16px;
}
.useyourdrive .useyourdrive-nav-tabs{
  margin:0px;
  padding:0px;
  list-style: none;
}
.useyourdrive .useyourdrive-nav-tabs li{
  list-style: none;
  height: 32px;
  line-height: 32px;
  padding: 0 16px;
  cursor: pointer;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  margin:0;
}

.useyourdrive .useyourdrive-nav-tabs li a{
  text-decoration: none;
  font-size: 17px;
  color:#333333;
}
.useyourdrive .useyourdrive-nav-tabs li:hover{
  color:#333333;
  background-color: #eaeaea;
}


.useyourdrive .useyourdrive-nav-tabs li.current{
  background-color: #eaeaea;
  border-left: 2px solid #0078d7;
  padding-left: 14px;
}
.useyourdrive .useyourdrive-nav-tabs li.current a{
  color: #0078d7;
}

.useyourdrive .useyourdrive-nav-tabs li.disabled{
  cursor:default;
}
.useyourdrive .useyourdrive-nav-tabs li.disabled a{
  color: #c3c3c3;
  cursor:default;
}
.useyourdrive .useyourdrive-nav-tabs li.disabled:hover{
  cursor:default;
  color:#0078d7;
  background-color: transparent;
}


.useyourdrive .useyourdrive-nav-footer{
  bottom: 0;
  position: absolute;
  left: 0;
  right: 0;
  height: 40px;
  padding: 10px;
}

.useyourdrive .useyourdrive-tab-panel{
  display: none;
  font-family: "Segoe UI Regular WestEuropean","Segoe UI",Tahoma,Arial,sans-serif;
  font-size: 14px;
  font-weight: 400;
  max-width: 650px;
}

.useyourdrive .useyourdrive-tab-panel.current{
  display: block;
}


.useyourdrive .useyourdrive-tab-panel-header{
  font-size: 28px;
  font-weight: 400;
  max-width: 60%;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  cursor: default;
  display: inline-block;
  font-family: "Segoe UI Light","Segoe UI",Tahoma,Arial,sans-serif;
  color: #212121;
}

.useyourdrive .useyourdrive-option-title{
  font-family: "Segoe UI Light","Segoe UI",Tahoma,Arial,sans-serif;
  font-size: 21px;
  font-weight: 400;
  color: #666666;
  padding: 15px 0 5px;
  position: relative;
}

.useyourdrive .useyourdrive-option-sub-title{
  font-family: "Segoe UI Light","Segoe UI",Tahoma,Arial,sans-serif;
  font-size: 15px;
  font-weight: 600;
  color: #666666;
  padding: 10px 0;
  position: relative;
}

.useyourdrive .useyourdrive-option-description{
  font-family: "Segoe UI Light","Segoe UI",Tahoma,Arial,sans-serif;
  font-size: 14px;
  font-weight: 400;
  color: #666666;
  padding-bottom: 10px;
  line-height: 1.5em;
}
.useyourdrive .hidden{
  display: none;
}
.useyourdrive .useyourdrive-suboptions{
  border-left: 2px solid #666666;
  background-color: #f8f8f8;
  padding: 20px 30px;
}

/* CSS User-to-folder page */
.useyourdrive .search-box .button{
  padding: 7px 20px;
}

.useyourdrive .column-avatar{
  width: 60px;
}
.useyourdrive .private_folder {
  font-weight: bold;
}

#UseyourDrive .entry_linkto,
#UseyourDrive .folder .entry_woocommerce_link{
  text-align: center;
  display: none;
  width: 100%;
  position: absolute;
  z-index: 30;
  top: 70px;
}
#UseyourDrive .entry.hasfocus .entry_linkto,
#UseyourDrive .entry.isselected .entry_linkto,
#UseyourDrive .entry.folder.hasfocus .entry_woocommerce_link,
#UseyourDrive .entry.folder.isselected .entry_woocommerce_link{
  display:block;
}

#UseyourDrive .entry_linkto_root{
  position: absolute;
  display: block;
  bottom: 15px;
  right: 15px;
  top: initial;
  width: initial;
}

/* Text Fields */
.useyourdrive input[type="text"],
.useyourdrive textarea{

  background: #f4f4f4;
  border: 1px solid #b4b4b4;
  padding: 15px;
  transition: all 250ms ease;
  font-family: "Segoe UI Light","Segoe UI",Tahoma,Arial,sans-serif;
  font-size: 16px;
  font-weight: 400;
}
.useyourdrive input[type="text"],
.useyourdrive textarea,
.useyourdrive select{
  margin-bottom: 10px;
}

.useyourdrive input[type="text"]:focus,
.useyourdrive textarea:focus,
.useyourdrive select:focus{
  border-color: #0078d7;
}

.useyourdrive .useyourdrive-option-input-large{
  width: 100%;
}

.useyourdrive textarea{
  width: 100%;
  height:100px;
  font-size: 12px;

}

/* CSS Dashboard page */
.useyourdrive-box{
  padding: 0px;
  margin: 20px 0;
  width: 100%;
  clear: both;
}
.useyourdrive-box75{
  width: 75%;
  float:left;
  clear:none;
}

.useyourdrive-box50{
  width: 50%;
  float:left;
  clear:none;
}

.useyourdrive-box25{
  width: 25%;
  float:left;
  clear:none;
}

.useyourdrive-box-inner{
  background-color: #fff!important;
  border: 1px solid #e4e4e4;
  padding: 20px;
  margin: 10px;
  position: relative;
}

.useyourdrive-counter{
  display: block;
  font-size: 16px;
  position: absolute;
  right: 0;
  top: 0;
}

.useyourdrive-counter span{
  border-radius: 10em;
  line-height: 0;
  font-weight: bold;
  padding: 15px;
  vertical-align: middle;
  display: inline-block;
  color: #5d5d5d;
  background-color: #efefef;
}

.useyourdrive .useyourdrive-counter .loading .loader-spinner{
  width:16px; height:16px
}

.useyourdrive .useyourdrive-counter-text{
  margin-right: 45px;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  display: block; 
  direction: rtl;
}
.useyourdrive-event-date-selector{
  position: absolute;
  right: 20px;
  z-index: 999;
}

#useyourdrive-events-chart{
  margin-top:20px;
}

.useyourdrive .event-details-user-template,
.useyourdrive .event-details-entry-template{
  position: relative;
}

.useyourdrive .event-details-name{
  font-size: 28px;
  font-weight: 400;
  width: 100%;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  cursor: default;
  display: inline-block;
  color: #212121;
  margin: 0 10px;
}

.useyourdrive .event-details-entry-img{
  margin: -20px -20px 20px;
  height:256px;
  background-repeat: no-repeat;
  background-position: center center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  background-color: #0078d7;
}

.useyourdrive a.event-button.simple-button{
  min-width: 100%;
  display: block;
  padding: 5px 0;
}

.useyourdrive .dataTables_wrapper{
  margin: 20px 0;
}
#UseyourDrive .dataTables_wrapper .dataTables_processing,
.UseyourDrive .dataTables_wrapper .dataTables_processing{
  left:0;
  right:0;
  bottom:0;
  top:0;
  margin:0;
  background: rgba(255, 255, 255, 0.5)!important;
  height: initial;
}

.useyourdrive table.dataTable thead th{
  font-size: 12px;
  text-transform: uppercase;
  border:0;
}

.useyourdrive .dataTables_wrapper.no-footer .dataTables_scrollBody{
  border:0;
}
.useyourdrive .dataTables_wrapper .dataTables_processing{
  z-index:999;
}

.useyourdrive table.dataTable thead th.no-padding, 
.useyourdrive table.dataTable thead td.no-paddin
.useyourdrive table.dataTable tbody th.no-padding, 
.useyourdrive table.dataTable tbody td.no-padding{
  padding-left:0;
  padding-right:0;
}
.useyourdrive table.dataTable tbody td{
  white-space: initial;
}
.useyourdrive table.dataTable tbody a{
  font-weight: 500!important;
  color: #0078d7;
}
.useyourdrive table.dataTable img{
  vertical-align: middle;
}

.useyourdrive div.DTS div.dataTables_scrollBody {
  background: repeating-linear-gradient(45deg, #fafafa, #fafafa 10px, #fff 10px, #fff 20px);
}


.useyourdrive .dataTables_wrapper .dataTables_paginate .paginate_button{
  text-decoration: none;
  border: 1px #0078d7 solid;
  border-radius: 3px;
  text-align: center;
  color: #0078d7 !important;
  background: white;
}
.useyourdrive .dataTables_wrapper .dataTables_paginate .paginate_button.current{
  color: white !important;
  background: #0078d7;
}
.useyourdrive .dataTables_wrapper .dataTables_paginate .paginate_button:hover,
.useyourdrive .dataTables_wrapper .dataTables_paginate .paginate_button.current:hover{
  color: white !important;
  background: #0073aa;
  border: 1px white solid !important;
}
.useyourdrive .dataTables_wrapper .dataTables_paginate .paginate_button.disabled,
.useyourdrive .dataTables_wrapper .dataTables_paginate .paginate_button.disabled:hover,
.useyourdrive .dataTables_wrapper .dataTables_paginate .paginate_button.disabled:active{
  border: 1px solid #d0d0d0 !important;
}

.useyourdrive .dt-buttons{
  float:right;
}
.useyourdrive button.dt-button.simple-button{
  margin: 0px 10px;
  line-height: normal;
  min-width: 50px;
  width: 50px;
  padding: 5px;
}
.useyourdrive .dt-button buttons-collection{
  margin:0!important;
}

.useyourdrive .dt-button-collection{
  background-color: #fff!important;
  border: 1px solid #e4e4e4;
  border-radius: 0;
  box-shadow: none;
}
.useyourdrive .dt-button-collection button{
  color: #0078d7;
  background: white;
  box-shadow: none;
  border: 1px #0078d7 solid;
}

.useyourdrive .dt-button-collection button.active{
  background: #0078d7 !important;
  color: white;
  box-shadow: none !important;
  border:none !important;
}

.useyourdrive .dt-button-collection button:hover{
  background: #0073aa !important;
  color: white;
  box-shadow: none !important;
  border:none !important;
}


/* Select boxes */
.useyourdrive select,
.useyourdrive .dd-select{
  background: #f4f4f4;
  border: 1px solid #b4b4b4;
  height: 2em;
  padding: 5px;
  transition: all 250ms ease;
  font-family: "Segoe UI Light","Segoe UI",Tahoma,Arial,sans-serif;
  font-size: 16px;
  font-weight: 400;
  width: 100%;
  overflow: hidden;
}
.useyourdrive .dd-select{
  height: 3.5em;
  font-weight: normal;
  box-sizing: content-box;
}
.useyourdrive .dd-select *{
  box-sizing: content-box;
}
.useyourdrive .dd-selected{
  padding: 0 10px;
}

.useyourdrive .dd-option-image, .useyourdrive .dd-selected-image {
  float: left;
  margin-right: 20px;
  max-width: initial;
  max-height: 55px;
}
/* Radio buttons */
.useyourdrive-option-radio, 
.useyourdrive-option-checkbox{
  margin: 0.5rem;
}
.useyourdrive-option-radio input[type="radio"],
.useyourdrive-option-checkbox input[type="checkbox"]{
  position: absolute;
  opacity: 0;
}
.useyourdrive-option-checkbox input[type="checkbox"]{
  z-index: 999;
}
.useyourdrive-option-radio input[type="radio"] + .useyourdrive-option-radio-label:before,
.useyourdrive-option-checkbox input[type="checkbox"] + .useyourdrive-option-checkbox-label:before{
  content: '';
  background: #f4f4f4;
  border-radius: 100%;
  border: 1px solid #b4b4b4;
  display: inline-block;
  width: 1.4em;
  height: 1.4em;
  position: relative;
  top: -0.2em;
  margin-right: 1em;
  vertical-align: top;
  cursor: pointer;
  text-align: center;
  transition: all 250ms ease;
}
.useyourdrive-option-checkbox input[type="checkbox"] + .useyourdrive-option-checkbox-label:before{
  border-radius: 0;
}
.useyourdrive-option-radio input[type="radio"]:checked + .useyourdrive-option-radio-label:before,
.useyourdrive-option-checkbox input[type="checkbox"]:checked + .useyourdrive-option-checkbox-label:before {
  background-color: #0078d7;
  box-shadow: inset 0 0 0 4px #f4f4f4;
}
.useyourdrive-option-radio input[type="radio"]:focus + .useyourdrive-option-radio-label:before,
.useyourdrive-option-checkbox input[type="checkbox"]:focus + .useyourdrive-option-checkbox-label:before {
  outline: none;
  border-color: #0078d7;
}
.useyourdrive-option-radio input[type="radio"]:disabled + .useyourdrive-option-radio-label:before,
.useyourdrive-option-checkbox input[type="checkbox"]:disabled + .useyourdrive-option-checkbox-label:before{
  box-shadow: inset 0 0 0 4px #f4f4f4;
  border-color: #b4b4b4;
  background: #b4b4b4;
}
.useyourdrive-option-radio input[type="radio"] + .useyourdrive-option-radio-label:empty:before,
.useyourdrive-option-checkbox input[type="checkbox"] + .useyourdrive-option-checkbox-label:empty:before {
  margin-right: 0;
}

/* On-off Switches */
.useyourdrive-onoffswitch {
  position: relative; width: 66px;
  -webkit-user-select:none; -moz-user-select:none; -ms-user-select: none;
  display: inline-block;
  top: 11px;
  position: absolute;
  right:0px;
}
.useyourdrive-onoffswitch-checkbox {
  position: absolute;
  opacity: 0;
}
.useyourdrive-onoffswitch-label {
  display: block; overflow: hidden; cursor: pointer;
  height: 26px; padding: 0; line-height: 26px;
  border: 0px solid #999999; border-radius: 19px;
  background-color: #EBEBEB;
}
.useyourdrive-onoffswitch-label:before {
  content: "";
  display: block; width: 19px; margin: 3.5px;
  background: #858585;
  position: absolute; top: 0; bottom: 0;
  right: 36px;
  border-radius: 19px;
}
.useyourdrive-onoffswitch-checkbox:checked + .useyourdrive-onoffswitch-label {
  background-color: #0078D7;
}
.useyourdrive-onoffswitch-checkbox:checked + .useyourdrive-onoffswitch-label, .useyourdrive-onoffswitch-checkbox:checked + .useyourdrive-onoffswitch-label:before {
  border-color: #0078D7;
}
.useyourdrive-onoffswitch-checkbox:checked + .useyourdrive-onoffswitch-label .useyourdrive-onoffswitch-inner {
  margin-left: 0;
}
.useyourdrive-onoffswitch-checkbox:checked + .useyourdrive-onoffswitch-label:before {
  right: 0px; 
  background-color: #FFFFFF; 
  box-shadow: 3px 6px 18px 0px rgba(0, 0, 0, 0.2);
}

/* Buttons */
#UseyourDrive .button,
.useyourdrive .button{
  width: auto;
  height: auto;
  background: #29ADE2;
  border: 1px solid #0e92c7;
  -webkit-box-shadow: 0 1px 0 rgba(255, 255, 255, 0.5) inset;
  -moz-box-shadow: 0 1px 0 rgba(255, 255, 255, 0.5) inset;
  box-shadow: 0 1px 0 rgba(255, 255, 255, 0.5) inset;
  color: white;
  cursor: pointer;
  display: inline-block;
  font-family: "Open Sans", "lucida grande", "Segoe UI", arial, verdana, "lucida sans unicode", tahoma, sans-serif;
  font-size: 14px;
  font-weight: normal;
  line-height: 1;
  margin: 0;
  outline: none;
  padding: 10px 20px 11px;
  position: relative;
  text-align: center;
  text-decoration: none;
  -webkit-transition: background-color 0.15s ease-in-out;
  -moz-transition: background-color 0.15s ease-in-out;
  -o-transition: background-color 0.15s ease-in-out;
  transition: background-color 0.15s ease-in-out;
  -webkit-appearance: none;
}
#UseyourDrive .button:hover,
.useyourdrive .button:hover{
  color: white;
  background-color: #0e92c7;
}

.useyourdrive .simple-button {
  display: inline-block;
  margin: 10px 10px 0 0 ;
  padding: 5px 40px;
  cursor: pointer;
  text-decoration: none;
  line-height: 32px;
  border: 1px #0078d7 solid;
  border-radius: 3px;
  min-width: 150px;
  text-align: center;

}

.useyourdrive .simple-button.default {
  color:#0078d7;
  background: white;
}
.useyourdrive .simple-button:hover{
  background: white !important;
  color: #0078d7
}

.useyourdrive .simple-button.blue {
  color:white;
  background: #0078d7;
}
.useyourdrive .simple-button.blue:hover {
  background: #0073aa !important;
}

.useyourdrive .simple-button i{
  margin: 1px 5px 0px 5px;
}

.useyourdrive .simple-button.disabled {
  color:#0078d7;
  background: #f4f4f4;
  opacity: 0.5;
  cursor: default;
}
.useyourdrive .simple-button.disabled:hover {
  background: #f4f4f4;
}

.uyd-spinner {
  background: url('images/wpspin_light-2x.gif') no-repeat;
  background-size: 16px 16px;
  display: none;
  float: right;
  opacity: .7;
  filter: alpha(opacity=70);
  width: 16px;
  height: 16px;
  margin: 9px 5px 0;
}

/* Messages */
.useyourdrive .wrap div.uyd-error, .useyourdrive .wrap div.uyd-updated, .useyourdrive .wrap div.uyd-warning{
  margin: 5px 0 15px;
}

.useyourdrive div.uyd-error, .useyourdrive div.uyd-updated, .useyourdrive div.uyd-warning{
  background: #fff;
  border-left: 4px solid #fff;
  margin: 5px 15px 2px;
  padding: 1px 12px;
}
.useyourdrive div.uyd-error {
  border-left-color: #dc3232;
}

.useyourdrive div.uyd-updated {
  border-left-color: #46b450;
}

.useyourdrive div.uyd-warning {
  border-left-color: #ff7f00;
}

.useyourdrive div.uyd-error p, .useyourdrive div.uyd-updated p, .useyourdrive div.uyd-warning p {
  margin: .5em 0;
  padding: 2px;
  font-size: 14px;
}

/* Enjoying Google Drive*/
.useyourdrive .enjoying-container{
  background-color: #0078d7;
  padding: 20px;
  text-align: center;
  color: white;
  font-size: 18px;
  position: fixed;
  bottom: 0;
  right: 0;
  z-index: 999;
  margin-right: 10px
}
.useyourdrive .enjoying-text{
}
.useyourdrive .enjoying-buttons{
}
.useyourdrive .enjoying-button {
  display: inline-block;
  margin: 10px;
  border: 1px solid white;
  cursor: pointer;
  text-decoration: none;
  border-radius: 3px;
  color:white;
  width: 130px;
  height: 35px;
  line-height: 37px;
  text-align: center;
}

.useyourdrive .enjoying-button.default {
  color:#0078d7;
  background: white;
}
.useyourdrive .enjoying-button:hover{
  color: #0078d7;
  background: white;
  font-weight: bold;
}

/* File Browser Adjustments */
.useyourdrive-panel #UseyourDrive .entry_icon{
  margin-top:4px;
}

.useyourdrive-panel #UseyourDrive .selected-folder{
  padding: 10px 0 20px;
  font-size: 20px;
}
/* Color Picker*/

.useyourdrive .wp-picker-holder, .useyourdrive .wp-picker-holder *, .useyourdrive .wp-picker-holder:before, .useyourdrive .wp-picker-holder:after {
  box-sizing: content-box;
}

.useyourdrive .wp-picker-container input[type=text].wp-color-picker{
  padding: 5px;
}

.useyourdrive .wp-picker-container .button{
  background: #0078d7;
  margin: 0 10px;
  border: 1px solid #FFF;
}
.useyourdrive .wp-picker-holder{
  position: absolute;
  background: #FFF;
  z-index: 10;
  -webkit-box-shadow: 3px 3px 5px rgba(8, 8, 8, 0.12);
  -moz-box-shadow: 3px 3px 5px rgba(8, 8, 8, 0.12);
  box-shadow: 3px 3px 5px rgba(8, 8, 8, 0.12);
}

.useyourdrive .wp-color-result-text{
  line-height: 23px;
}

.useyourdrive .color-table td{
  font-family: "Segoe UI Light","Segoe UI",Tahoma,Arial,sans-serif;
  padding: 8px 0;
}

/* Image Selectors*/
.useyourdrive .upload_row{
  display: table-row;
}
.useyourdrive .upload.useyourdrive-option-input-large{
  width: 490px;
}

.useyourdrive .screenshot{
  float: left;
  margin-left: 1px;
  position: relative;
  width: 110px;
  margin-top: 3px;
  z-index: 1;
  clear: both;
}

.useyourdrive .screenshot img {
  background-clip: padding-box;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  -o-border-radius: 4px;
  border-radius: 4px;
  background: #fafafa;
  border-color: #ccc #eee #eee #ccc;
  border-style: solid;
  border-width: 1px;
  max-width: 90px;
  padding: 4px;
}
.useyourdrive .screenshot .upload-remove {
  bottom: 0;
  display: block;
  float: left;
  padding: 0 5px;
  position: absolute;
  color: white;
  text-decoration: none;
  font-weight: bold;
  border: 1px solid transparent;
  font-size: 10px;
  text-transform: uppercase;
  text-shadow: 0 1px rgba(0,0,0,0.1);
  background-clip: padding-box;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  -ms-border-radius: 2px;
  -o-border-radius: 2px;
  border-radius: 2px;
  background-color: #0078d7;
}
.useyourdrive .screenshot .upload-remove:hover{
  background-color: #0073aa;
}
/* Accordions */
.useyourdrive-accordion-title{
  background-color: #fafafa;
  padding: 14px !important;
  border: 1px solid #ddd;
  border-radius: 2px;
  margin: 30px 0 15px;
  cursor: pointer;
  color: #333;
  font-weight: 700 !important;
}

.useyourdrive-accordion-title:hover { 
  box-shadow: 0px 0px 8px 0px rgba(0, 0, 0, 0.4);
  -webkit-box-shadow: 0px 0px 8px 0px rgba(0, 0, 0, 0.4);
  -moz-box-shadow:    0px 0px 8px 0px rgba(0, 0, 0, 0.4);
}

.useyourdrive .ui-accordion-header-icon{
  margin-right: 10px;
}

.modal-open .qtip.UseyourDrive{
  z-index: 1000000!important;
}

/* Loading Divs*/
.useyourdrive .useyourdrive-box .loading{
  background-color:transparent !important;
  background-image: none !important;
}
.useyourdrive .loading .loader-beat{background: #0078d7;}

.useyourdrive .loading{
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  top: 0;
  z-index: 1000;
  text-align: center;
  background-position: 50% 50%;
  background-repeat: no-repeat;
  background-size: 256px auto;
}

.useyourdrive  div.preloading{
  -webkit-animation: sk-scaleout 1.0s infinite ease-in-out;
  animation: sk-scaleout 1.0s infinite ease-in-out;
  border-radius: 100% !important;
  height: 40px;
  width: 40px;
  position: absolute;
  top: 50%;
  left: 50%;
  top: calc(50% - 20px);
  left: calc(50% - 20px);
}

@-webkit-keyframes sk-scaleout {
  0% { -webkit-transform: scale(0) }
  100% {
    -webkit-transform: scale(0.5);
    opacity: 0;
  }
}

@keyframes sk-scaleout {
  0% { 
    -webkit-transform: scale(0);
    transform: scale(0);
  } 100% {
    -webkit-transform: scale(.5);
    transform: scale(.5);
    opacity: 0;
  }
}

.useyourdrive .loading.error .loader-beat,
.useyourdrive .loading.error .loader-spinner{
  display:none;
}


.useyourdrive .loading .loader-beat{
  position: absolute;
  top: 50%;
  left: 50%;
  top: calc(50% - 8px);
  left: calc(50% - 8px);
  height: 15px;
  width: 15px;
  border-radius: 50%;
  z-index: 1;
  animation: overlay-loader-beat 0.8s infinite 0s;
  opacity: .5;
}
.useyourdrive .loading .loader-spinner {
  animation: loader-full-rotate 2s linear infinite;
  width: 65px;
  height: 65px;
  transform-origin: center center;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
}
.useyourdrive .loading .path {
  stroke-dasharray: 1,200;
  stroke-dashoffset: 0;
  animation: loader-full-dash 1.5s ease-in-out infinite,color 6s ease-in-out infinite;
  stroke-linecap: round;
}
@keyframes overlay-loader-beat{0%{opacity:0}100%{opacity:1}}
@keyframes loader-full-dash{0%{stroke-dasharray:1,200;stroke-dashoffset:0}50%{stroke-dasharray:89,200;stroke-dashoffset:-35px}100%{stroke-dasharray:89,200;stroke-dashoffset:-124px}}


/* Rmodal */
body.useyourdrive-modal-open {
  overflow-x: hidden;
  overflow-y: auto;
}

.UseyourDrive.useyourdrive-modal {
  display: none;
  background: rgba(0, 0, 0, .30);
  z-index: 100000000;
  padding: 30px;

  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;

  overflow-x: hidden;
  overflow-y: auto;
}

.UseyourDrive.useyourdrive-modal .modal-dialog {
  position: relative;
  margin: 30px auto;
  max-width: 600px;
  border-radius: 6px;
  max-height: 75%;
  overflow-y: auto;
}
.UseyourDrive.useyourdrive-modal.useyourdrive-modal80 .modal-dialog{
  max-width:80%;
}


.UseyourDrive.useyourdrive-modal .modal-content {
  position: relative;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
  outline: 0;
  -webkit-box-shadow: 0 0 10px rgba(0, 0, 0, 0.4);
  -moz-box-shadow: 0 0 10px rgba(0, 0, 0, 0.4);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.4);
  padding: 30px;
}

.UseyourDrive .useyourdrive-modal-header {
  min-height: 16.43px;
  border-style: solid;
  border-width: 1px;
}

.UseyourDrive .useyourdrive-modal-body {
  padding: 0;
  position: relative;
  overflow: hidden;
}

.UseyourDrive .useyourdrive-modal-body span.download-link{
  display: block;
  overflow: hidden;
}

.UseyourDrive .useyourdrive-modal-body ul.files li {
  margin-right: 5px;
  padding: 5px;
  font-size: 80%;
  display: inline-block;
}
.UseyourDrive .useyourdrive-modal-body ul.files li .useyourdrive-modal-file-icon{
  position: absolute;
}
.UseyourDrive .useyourdrive-modal-body ul.files li img{
  width: auto!important;
  height: 24px;
  max-height: 24px;
  float: left;
}
.UseyourDrive .useyourdrive-modal-body ul.files li span{
  height: 24px;
  line-height: 24px;
  margin-left: 15px;
}

.UseyourDrive .useyourdrive-modal-image{
  width: 150px;
  height: 150px;
  float: left;
  margin-right: 20px;
  position: relative;
}

.UseyourDrive .useyourdrive-modal-image img{
  max-width: 150px;
  max-height: 150px;
  position: absolute;
  bottom: 0;
  top: 0;
  left: 0;
  right: 0;
  margin: auto;
}

.UseyourDrive .useyourdrive-modal-description {
  margin-bottom: 10px;
  max-height: 150px;
  overflow: auto;
}

#useyourdrive-modal-action .useyourdrive-modal-footer .useyourdrive-modal-buttons {
  display: block;
  padding-top: 20px;
  text-align: right;
}

.UseyourDrive .useyourdrive-modal-buttons button {
  margin: 0 5px 2px 0;
  min-height: 35px;
}

.UseyourDrive.useyourdrive-modal .close-button{
  position: absolute;
  top: 10px;
  right: 10px;
  cursor: pointer;
}

.UseyourDrive .useyourdrive-modal-error{
  color: red;
  border-left: 3px solid red;
  margin: 10px 0px;
  padding: 6px;
  background: rgba(181, 181, 181, 0.16);
  display: none;
}

/*! jQuery UI - v1.12.1 - 2018-04-25
* http://jqueryui.com
* Includes: draggable.css, sortable.css, core.css, datepicker.css, theme.css
* To view and modify this theme, visit http://jqueryui.com/themeroller/?scope=.useyourdrive&folderName=useyourdrive&bgImgOpacityError=100&bgImgOpacityHighlight=100&bgImgOpacityActive=100&bgImgOpacityHover=100&bgImgOpacityDefault=0&bgImgOpacityContent=16&bgImgOpacityHeader=100&cornerRadiusShadow=0&offsetLeftShadow=0px&offsetTopShadow=0px&thicknessShadow=0&opacityShadow=30&bgImgOpacityShadow=0&bgTextureShadow=flat&bgColorShadow=%23666666&opacityOverlay=30&bgImgOpacityOverlay=0&bgTextureOverlay=flat&bgColorOverlay=%23aaaaaa&iconColorError=%23FFF&fcError=%23FFF&borderColorError=%23dc3232&bgTextureError=flat&bgColorError=%23dc3232&iconColorHighlight=%23FFF&fcHighlight=%23FFF&borderColorHighlight=%23FFF&bgTextureHighlight=flat&bgColorHighlight=%230078d7&iconColorActive=%23ffffff&fcActive=%23ffffff&borderColorActive=%230078d7&bgTextureActive=flat&bgColorActive=%230078d7&iconColorHover=%23fff&fcHover=%23fff&borderColorHover=%230073aa&bgTextureHover=flat&bgColorHover=%230073aa&iconColorDefault=%23666666&fcDefault=%23666666&borderColorDefault=%23eaeaea&bgTextureDefault=flat&bgColorDefault=%23fff&iconColorContent=%23666666&fcContent=%23666666&borderColorContent=%23eaeaea&bgTextureContent=flat&bgColorContent=%23ffffff&iconColorHeader=%23FFF&fcHeader=%23FFF&borderColorHeader=%230078d7&bgTextureHeader=flat&bgColorHeader=%230078d7&cornerRadius=0&fwDefault=normal&fsDefault=1em&ffDefault=Arial%2CHelvetica%2Csans-serif
* Copyright jQuery Foundation and other contributors; Licensed MIT */

.useyourdrive .ui-draggable-handle{-ms-touch-action:none;touch-action:none}.useyourdrive .ui-sortable-handle{-ms-touch-action:none;touch-action:none}.useyourdrive .ui-helper-hidden{display:none}.useyourdrive .ui-helper-hidden-accessible{border:0;clip:rect(0 0 0 0);height:1px;margin:-1px;overflow:hidden;padding:0;position:absolute;width:1px}.useyourdrive .ui-helper-reset{margin:0;padding:0;border:0;outline:0;line-height:1.3;text-decoration:none;font-size:100%;list-style:none}.useyourdrive .ui-helper-clearfix:before,.useyourdrive .ui-helper-clearfix:after{content:"";display:table;border-collapse:collapse}.useyourdrive .ui-helper-clearfix:after{clear:both}.useyourdrive .ui-helper-zfix{width:100%;height:100%;top:0;left:0;position:absolute;opacity:0;filter:Alpha(Opacity=0)}.useyourdrive .ui-front{z-index:100}.useyourdrive .ui-state-disabled{cursor:default!important;pointer-events:none}.useyourdrive .ui-icon{display:inline-block;vertical-align:middle;margin-top:-.25em;position:relative;text-indent:-99999px;overflow:hidden;background-repeat:no-repeat}.useyourdrive .ui-widget-icon-block{left:50%;margin-left:-8px;display:block}.useyourdrive .ui-widget-overlay{position:fixed;top:0;left:0;width:100%;height:100%}.useyourdrive .ui-datepicker{width:17em;padding:.2em .2em 0;display:none}.useyourdrive .ui-datepicker .ui-datepicker-header{position:relative;padding:.2em 0}.useyourdrive .ui-datepicker .ui-datepicker-prev,.useyourdrive .ui-datepicker .ui-datepicker-next{position:absolute;top:2px;width:1.8em;height:1.8em}.useyourdrive .ui-datepicker .ui-datepicker-prev-hover,.useyourdrive .ui-datepicker .ui-datepicker-next-hover{top:1px}.useyourdrive .ui-datepicker .ui-datepicker-prev{left:2px}.useyourdrive .ui-datepicker .ui-datepicker-next{right:2px}.useyourdrive .ui-datepicker .ui-datepicker-prev-hover{left:1px}.useyourdrive .ui-datepicker .ui-datepicker-next-hover{right:1px}.useyourdrive .ui-datepicker .ui-datepicker-prev span,.useyourdrive .ui-datepicker .ui-datepicker-next span{display:block;position:absolute;left:50%;margin-left:-8px;top:50%;margin-top:-8px}.useyourdrive .ui-datepicker .ui-datepicker-title{margin:0 2.3em;line-height:1.8em;text-align:center}.useyourdrive .ui-datepicker .ui-datepicker-title select{font-size:1em;margin:1px 0}.useyourdrive .ui-datepicker select.ui-datepicker-month,.useyourdrive .ui-datepicker select.ui-datepicker-year{width:45%}.useyourdrive .ui-datepicker table{width:100%;font-size:.9em;border-collapse:collapse;margin:0 0 .4em}.useyourdrive .ui-datepicker th{padding:.7em .3em;text-align:center;font-weight:bold;border:0}.useyourdrive .ui-datepicker td{border:0;padding:1px}.useyourdrive .ui-datepicker td span,.useyourdrive .ui-datepicker td a{display:block;padding:.2em;text-align:right;text-decoration:none}.useyourdrive .ui-datepicker .ui-datepicker-buttonpane{background-image:none;margin:.7em 0 0 0;padding:0 .2em;border-left:0;border-right:0;border-bottom:0}.useyourdrive .ui-datepicker .ui-datepicker-buttonpane button{float:right;margin:.5em .2em .4em;cursor:pointer;padding:.2em .6em .3em .6em;width:auto;overflow:visible}.useyourdrive .ui-datepicker .ui-datepicker-buttonpane button.ui-datepicker-current{float:left}.useyourdrive .ui-datepicker.ui-datepicker-multi{width:auto}.useyourdrive .ui-datepicker-multi .ui-datepicker-group{float:left}.useyourdrive .ui-datepicker-multi .ui-datepicker-group table{width:95%;margin:0 auto .4em}.useyourdrive .ui-datepicker-multi-2 .ui-datepicker-group{width:50%}.useyourdrive .ui-datepicker-multi-3 .ui-datepicker-group{width:33.3%}.useyourdrive .ui-datepicker-multi-4 .ui-datepicker-group{width:25%}.useyourdrive .ui-datepicker-multi .ui-datepicker-group-last .ui-datepicker-header,.useyourdrive .ui-datepicker-multi .ui-datepicker-group-middle .ui-datepicker-header{border-left-width:0}.useyourdrive .ui-datepicker-multi .ui-datepicker-buttonpane{clear:left}.useyourdrive .ui-datepicker-row-break{clear:both;width:100%;font-size:0}.useyourdrive .ui-datepicker-rtl{direction:rtl}.useyourdrive .ui-datepicker-rtl .ui-datepicker-prev{right:2px;left:auto}.useyourdrive .ui-datepicker-rtl .ui-datepicker-next{left:2px;right:auto}.useyourdrive .ui-datepicker-rtl .ui-datepicker-prev:hover{right:1px;left:auto}.useyourdrive .ui-datepicker-rtl .ui-datepicker-next:hover{left:1px;right:auto}.useyourdrive .ui-datepicker-rtl .ui-datepicker-buttonpane{clear:right}.useyourdrive .ui-datepicker-rtl .ui-datepicker-buttonpane button{float:left}.useyourdrive .ui-datepicker-rtl .ui-datepicker-buttonpane button.ui-datepicker-current,.useyourdrive .ui-datepicker-rtl .ui-datepicker-group{float:right}.useyourdrive .ui-datepicker-rtl .ui-datepicker-group-last .ui-datepicker-header,.useyourdrive .ui-datepicker-rtl .ui-datepicker-group-middle .ui-datepicker-header{border-right-width:0;border-left-width:1px}.useyourdrive .ui-datepicker .ui-icon{display:block;text-indent:-99999px;overflow:hidden;background-repeat:no-repeat;left:.5em;top:.3em}.useyourdrive .ui-widget{font-family:"Segoe UI",Tahoma,Arial,sans-serif;font-size:1em}.useyourdrive .ui-widget .ui-widget{font-size:1em}.useyourdrive .ui-widget input,.useyourdrive .ui-widget select,.useyourdrive .ui-widget textarea,.useyourdrive .ui-widget button{font-family:"Segoe UI",Tahoma,Arial,sans-serif;font-size:1em}.useyourdrive .ui-widget.ui-widget-content{border:1px solid #eaeaea}.useyourdrive .ui-widget-content{border:1px solid #eaeaea;background:#fff;color:#666}.useyourdrive .ui-widget-content a{color:#666}.useyourdrive .ui-widget-header{border:1px solid #0078d7;background:#0078d7;color:#FFF;font-weight:bold}.useyourdrive .ui-widget-header a{color:#FFF}.useyourdrive .ui-state-default,.useyourdrive .ui-widget-content .ui-state-default,.useyourdrive .ui-widget-header .ui-state-default,.useyourdrive .ui-button,html .useyourdrive .ui-button.ui-state-disabled:hover,html .useyourdrive .ui-button.ui-state-disabled:active{border:1px solid #eaeaea;background:#fff;font-weight:normal;color:#666}.useyourdrive .ui-state-default a,.useyourdrive .ui-state-default a:link,.useyourdrive .ui-state-default a:visited,a.useyourdrive .ui-button,a:link.useyourdrive .ui-button,a:visited.useyourdrive .ui-button,.useyourdrive .ui-button{color:#666;text-decoration:none}.useyourdrive .ui-state-hover,.useyourdrive .ui-widget-content .ui-state-hover,.useyourdrive .ui-widget-header .ui-state-hover,.useyourdrive .ui-state-focus,.useyourdrive .ui-widget-content .ui-state-focus,.useyourdrive .ui-widget-header .ui-state-focus,.useyourdrive .ui-button:hover,.useyourdrive .ui-button:focus{border:1px solid #0073aa;background:#0073aa;font-weight:normal;color:#fff}.useyourdrive .ui-state-hover a,.useyourdrive .ui-state-hover a:hover,.useyourdrive .ui-state-hover a:link,.useyourdrive .ui-state-hover a:visited,.useyourdrive .ui-state-focus a,.useyourdrive .ui-state-focus a:hover,.useyourdrive .ui-state-focus a:link,.useyourdrive .ui-state-focus a:visited,a.useyourdrive .ui-button:hover,a.useyourdrive .ui-button:focus{color:#fff;text-decoration:none}.useyourdrive .ui-visual-focus{box-shadow:0 0 3px 1px rgb(94,158,214)}.useyourdrive .ui-state-active,.useyourdrive .ui-widget-content .ui-state-active,.useyourdrive .ui-widget-header .ui-state-active,a.useyourdrive .ui-button:active,.useyourdrive .ui-button:active,.useyourdrive .ui-button.ui-state-active:hover{border:1px solid #0078d7;background:#0078d7;font-weight:normal;color:#fff}.useyourdrive .ui-icon-background,.useyourdrive .ui-state-active .ui-icon-background{border:#0078d7;background-color:#fff}.useyourdrive .ui-state-active a,.useyourdrive .ui-state-active a:link,.useyourdrive .ui-state-active a:visited{color:#fff;text-decoration:none}.useyourdrive .ui-state-highlight,.useyourdrive .ui-widget-content .ui-state-highlight,.useyourdrive .ui-widget-header .ui-state-highlight{border:1px solid #FFF;background:#0078d7;color:#FFF}.useyourdrive .ui-state-checked{border:1px solid #FFF;background:#0078d7}.useyourdrive .ui-state-highlight a,.useyourdrive .ui-widget-content .ui-state-highlight a,.useyourdrive .ui-widget-header .ui-state-highlight a{color:#FFF}.useyourdrive .ui-state-error,.useyourdrive .ui-widget-content .ui-state-error,.useyourdrive .ui-widget-header .ui-state-error{border:1px solid #dc3232;background:#dc3232;color:#FFF}.useyourdrive .ui-state-error a,.useyourdrive .ui-widget-content .ui-state-error a,.useyourdrive .ui-widget-header .ui-state-error a{color:#FFF}.useyourdrive .ui-state-error-text,.useyourdrive .ui-widget-content .ui-state-error-text,.useyourdrive .ui-widget-header .ui-state-error-text{color:#FFF}.useyourdrive .ui-priority-primary,.useyourdrive .ui-widget-content .ui-priority-primary,.useyourdrive .ui-widget-header .ui-priority-primary{font-weight:bold}.useyourdrive .ui-priority-secondary,.useyourdrive .ui-widget-content .ui-priority-secondary,.useyourdrive .ui-widget-header .ui-priority-secondary{opacity:.7;filter:Alpha(Opacity=70);font-weight:normal}.useyourdrive .ui-state-disabled,.useyourdrive .ui-widget-content .ui-state-disabled,.useyourdrive .ui-widget-header .ui-state-disabled{opacity:.35;filter:Alpha(Opacity=35);background-image:none}.useyourdrive .ui-state-disabled .ui-icon{filter:Alpha(Opacity=35)}.useyourdrive .ui-icon{width:16px;height:16px}.useyourdrive .ui-icon,.useyourdrive .ui-widget-content .ui-icon{background-image:url("images/ui-icons_666666_256x240.png")}.useyourdrive .ui-widget-header .ui-icon{background-image:url("images/ui-icons_FFF_256x240.png")}.useyourdrive .ui-state-hover .ui-icon,.useyourdrive .ui-state-focus .ui-icon,.useyourdrive .ui-button:hover .ui-icon,.useyourdrive .ui-button:focus .ui-icon{background-image:url("images/ui-icons_fff_256x240.png")}.useyourdrive .ui-state-active .ui-icon,.useyourdrive .ui-button:active .ui-icon{background-image:url("images/ui-icons_ffffff_256x240.png")}.useyourdrive .ui-state-highlight .ui-icon,.useyourdrive .ui-button .ui-state-highlight.ui-icon{background-image:url("images/ui-icons_FFF_256x240.png")}.useyourdrive .ui-state-error .ui-icon,.useyourdrive .ui-state-error-text .ui-icon{background-image:url("images/ui-icons_FFF_256x240.png")}.useyourdrive .ui-button .ui-icon{background-image:url("images/ui-icons_666666_256x240.png")}.useyourdrive .ui-icon-blank{background-position:16px 16px}.useyourdrive .ui-icon-caret-1-n{background-position:0 0}.useyourdrive .ui-icon-caret-1-ne{background-position:-16px 0}.useyourdrive .ui-icon-caret-1-e{background-position:-32px 0}.useyourdrive .ui-icon-caret-1-se{background-position:-48px 0}.useyourdrive .ui-icon-caret-1-s{background-position:-65px 0}.useyourdrive .ui-icon-caret-1-sw{background-position:-80px 0}.useyourdrive .ui-icon-caret-1-w{background-position:-96px 0}.useyourdrive .ui-icon-caret-1-nw{background-position:-112px 0}.useyourdrive .ui-icon-caret-2-n-s{background-position:-128px 0}.useyourdrive .ui-icon-caret-2-e-w{background-position:-144px 0}.useyourdrive .ui-icon-triangle-1-n{background-position:0 -16px}.useyourdrive .ui-icon-triangle-1-ne{background-position:-16px -16px}.useyourdrive .ui-icon-triangle-1-e{background-position:-32px -16px}.useyourdrive .ui-icon-triangle-1-se{background-position:-48px -16px}.useyourdrive .ui-icon-triangle-1-s{background-position:-65px -16px}.useyourdrive .ui-icon-triangle-1-sw{background-position:-80px -16px}.useyourdrive .ui-icon-triangle-1-w{background-position:-96px -16px}.useyourdrive .ui-icon-triangle-1-nw{background-position:-112px -16px}.useyourdrive .ui-icon-triangle-2-n-s{background-position:-128px -16px}.useyourdrive .ui-icon-triangle-2-e-w{background-position:-144px -16px}.useyourdrive .ui-icon-arrow-1-n{background-position:0 -32px}.useyourdrive .ui-icon-arrow-1-ne{background-position:-16px -32px}.useyourdrive .ui-icon-arrow-1-e{background-position:-32px -32px}.useyourdrive .ui-icon-arrow-1-se{background-position:-48px -32px}.useyourdrive .ui-icon-arrow-1-s{background-position:-65px -32px}.useyourdrive .ui-icon-arrow-1-sw{background-position:-80px -32px}.useyourdrive .ui-icon-arrow-1-w{background-position:-96px -32px}.useyourdrive .ui-icon-arrow-1-nw{background-position:-112px -32px}.useyourdrive .ui-icon-arrow-2-n-s{background-position:-128px -32px}.useyourdrive .ui-icon-arrow-2-ne-sw{background-position:-144px -32px}.useyourdrive .ui-icon-arrow-2-e-w{background-position:-160px -32px}.useyourdrive .ui-icon-arrow-2-se-nw{background-position:-176px -32px}.useyourdrive .ui-icon-arrowstop-1-n{background-position:-192px -32px}.useyourdrive .ui-icon-arrowstop-1-e{background-position:-208px -32px}.useyourdrive .ui-icon-arrowstop-1-s{background-position:-224px -32px}.useyourdrive .ui-icon-arrowstop-1-w{background-position:-240px -32px}.useyourdrive .ui-icon-arrowthick-1-n{background-position:1px -48px}.useyourdrive .ui-icon-arrowthick-1-ne{background-position:-16px -48px}.useyourdrive .ui-icon-arrowthick-1-e{background-position:-32px -48px}.useyourdrive .ui-icon-arrowthick-1-se{background-position:-48px -48px}.useyourdrive .ui-icon-arrowthick-1-s{background-position:-64px -48px}.useyourdrive .ui-icon-arrowthick-1-sw{background-position:-80px -48px}.useyourdrive .ui-icon-arrowthick-1-w{background-position:-96px -48px}.useyourdrive .ui-icon-arrowthick-1-nw{background-position:-112px -48px}.useyourdrive .ui-icon-arrowthick-2-n-s{background-position:-128px -48px}.useyourdrive .ui-icon-arrowthick-2-ne-sw{background-position:-144px -48px}.useyourdrive .ui-icon-arrowthick-2-e-w{background-position:-160px -48px}.useyourdrive .ui-icon-arrowthick-2-se-nw{background-position:-176px -48px}.useyourdrive .ui-icon-arrowthickstop-1-n{background-position:-192px -48px}.useyourdrive .ui-icon-arrowthickstop-1-e{background-position:-208px -48px}.useyourdrive .ui-icon-arrowthickstop-1-s{background-position:-224px -48px}.useyourdrive .ui-icon-arrowthickstop-1-w{background-position:-240px -48px}.useyourdrive .ui-icon-arrowreturnthick-1-w{background-position:0 -64px}.useyourdrive .ui-icon-arrowreturnthick-1-n{background-position:-16px -64px}.useyourdrive .ui-icon-arrowreturnthick-1-e{background-position:-32px -64px}.useyourdrive .ui-icon-arrowreturnthick-1-s{background-position:-48px -64px}.useyourdrive .ui-icon-arrowreturn-1-w{background-position:-64px -64px}.useyourdrive .ui-icon-arrowreturn-1-n{background-position:-80px -64px}.useyourdrive .ui-icon-arrowreturn-1-e{background-position:-96px -64px}.useyourdrive .ui-icon-arrowreturn-1-s{background-position:-112px -64px}.useyourdrive .ui-icon-arrowrefresh-1-w{background-position:-128px -64px}.useyourdrive .ui-icon-arrowrefresh-1-n{background-position:-144px -64px}.useyourdrive .ui-icon-arrowrefresh-1-e{background-position:-160px -64px}.useyourdrive .ui-icon-arrowrefresh-1-s{background-position:-176px -64px}.useyourdrive .ui-icon-arrow-4{background-position:0 -80px}.useyourdrive .ui-icon-arrow-4-diag{background-position:-16px -80px}.useyourdrive .ui-icon-extlink{background-position:-32px -80px}.useyourdrive .ui-icon-newwin{background-position:-48px -80px}.useyourdrive .ui-icon-refresh{background-position:-64px -80px}.useyourdrive .ui-icon-shuffle{background-position:-80px -80px}.useyourdrive .ui-icon-transfer-e-w{background-position:-96px -80px}.useyourdrive .ui-icon-transferthick-e-w{background-position:-112px -80px}.useyourdrive .ui-icon-folder-collapsed{background-position:0 -96px}.useyourdrive .ui-icon-folder-open{background-position:-16px -96px}.useyourdrive .ui-icon-document{background-position:-32px -96px}.useyourdrive .ui-icon-document-b{background-position:-48px -96px}.useyourdrive .ui-icon-note{background-position:-64px -96px}.useyourdrive .ui-icon-mail-closed{background-position:-80px -96px}.useyourdrive .ui-icon-mail-open{background-position:-96px -96px}.useyourdrive .ui-icon-suitcase{background-position:-112px -96px}.useyourdrive .ui-icon-comment{background-position:-128px -96px}.useyourdrive .ui-icon-person{background-position:-144px -96px}.useyourdrive .ui-icon-print{background-position:-160px -96px}.useyourdrive .ui-icon-trash{background-position:-176px -96px}.useyourdrive .ui-icon-locked{background-position:-192px -96px}.useyourdrive .ui-icon-unlocked{background-position:-208px -96px}.useyourdrive .ui-icon-bookmark{background-position:-224px -96px}.useyourdrive .ui-icon-tag{background-position:-240px -96px}.useyourdrive .ui-icon-home{background-position:0 -112px}.useyourdrive .ui-icon-flag{background-position:-16px -112px}.useyourdrive .ui-icon-calendar{background-position:-32px -112px}.useyourdrive .ui-icon-cart{background-position:-48px -112px}.useyourdrive .ui-icon-pencil{background-position:-64px -112px}.useyourdrive .ui-icon-clock{background-position:-80px -112px}.useyourdrive .ui-icon-disk{background-position:-96px -112px}.useyourdrive .ui-icon-calculator{background-position:-112px -112px}.useyourdrive .ui-icon-zoomin{background-position:-128px -112px}.useyourdrive .ui-icon-zoomout{background-position:-144px -112px}.useyourdrive .ui-icon-search{background-position:-160px -112px}.useyourdrive .ui-icon-wrench{background-position:-176px -112px}.useyourdrive .ui-icon-gear{background-position:-192px -112px}.useyourdrive .ui-icon-heart{background-position:-208px -112px}.useyourdrive .ui-icon-star{background-position:-224px -112px}.useyourdrive .ui-icon-link{background-position:-240px -112px}.useyourdrive .ui-icon-cancel{background-position:0 -128px}.useyourdrive .ui-icon-plus{background-position:-16px -128px}.useyourdrive .ui-icon-plusthick{background-position:-32px -128px}.useyourdrive .ui-icon-minus{background-position:-48px -128px}.useyourdrive .ui-icon-minusthick{background-position:-64px -128px}.useyourdrive .ui-icon-close{background-position:-80px -128px}.useyourdrive .ui-icon-closethick{background-position:-96px -128px}.useyourdrive .ui-icon-key{background-position:-112px -128px}.useyourdrive .ui-icon-lightbulb{background-position:-128px -128px}.useyourdrive .ui-icon-scissors{background-position:-144px -128px}.useyourdrive .ui-icon-clipboard{background-position:-160px -128px}.useyourdrive .ui-icon-copy{background-position:-176px -128px}.useyourdrive .ui-icon-contact{background-position:-192px -128px}.useyourdrive .ui-icon-image{background-position:-208px -128px}.useyourdrive .ui-icon-video{background-position:-224px -128px}.useyourdrive .ui-icon-script{background-position:-240px -128px}.useyourdrive .ui-icon-alert{background-position:0 -144px}.useyourdrive .ui-icon-info{background-position:-16px -144px}.useyourdrive .ui-icon-notice{background-position:-32px -144px}.useyourdrive .ui-icon-help{background-position:-48px -144px}.useyourdrive .ui-icon-check{background-position:-64px -144px}.useyourdrive .ui-icon-bullet{background-position:-80px -144px}.useyourdrive .ui-icon-radio-on{background-position:-96px -144px}.useyourdrive .ui-icon-radio-off{background-position:-112px -144px}.useyourdrive .ui-icon-pin-w{background-position:-128px -144px}.useyourdrive .ui-icon-pin-s{background-position:-144px -144px}.useyourdrive .ui-icon-play{background-position:0 -160px}.useyourdrive .ui-icon-pause{background-position:-16px -160px}.useyourdrive .ui-icon-seek-next{background-position:-32px -160px}.useyourdrive .ui-icon-seek-prev{background-position:-48px -160px}.useyourdrive .ui-icon-seek-end{background-position:-64px -160px}.useyourdrive .ui-icon-seek-start{background-position:-80px -160px}.useyourdrive .ui-icon-seek-first{background-position:-80px -160px}.useyourdrive .ui-icon-stop{background-position:-96px -160px}.useyourdrive .ui-icon-eject{background-position:-112px -160px}.useyourdrive .ui-icon-volume-off{background-position:-128px -160px}.useyourdrive .ui-icon-volume-on{background-position:-144px -160px}.useyourdrive .ui-icon-power{background-position:0 -176px}.useyourdrive .ui-icon-signal-diag{background-position:-16px -176px}.useyourdrive .ui-icon-signal{background-position:-32px -176px}.useyourdrive .ui-icon-battery-0{background-position:-48px -176px}.useyourdrive .ui-icon-battery-1{background-position:-64px -176px}.useyourdrive .ui-icon-battery-2{background-position:-80px -176px}.useyourdrive .ui-icon-battery-3{background-position:-96px -176px}.useyourdrive .ui-icon-circle-plus{background-position:0 -192px}.useyourdrive .ui-icon-circle-minus{background-position:-16px -192px}.useyourdrive .ui-icon-circle-close{background-position:-32px -192px}.useyourdrive .ui-icon-circle-triangle-e{background-position:-48px -192px}.useyourdrive .ui-icon-circle-triangle-s{background-position:-64px -192px}.useyourdrive .ui-icon-circle-triangle-w{background-position:-80px -192px}.useyourdrive .ui-icon-circle-triangle-n{background-position:-96px -192px}.useyourdrive .ui-icon-circle-arrow-e{background-position:-112px -192px}.useyourdrive .ui-icon-circle-arrow-s{background-position:-128px -192px}.useyourdrive .ui-icon-circle-arrow-w{background-position:-144px -192px}.useyourdrive .ui-icon-circle-arrow-n{background-position:-160px -192px}.useyourdrive .ui-icon-circle-zoomin{background-position:-176px -192px}.useyourdrive .ui-icon-circle-zoomout{background-position:-192px -192px}.useyourdrive .ui-icon-circle-check{background-position:-208px -192px}.useyourdrive .ui-icon-circlesmall-plus{background-position:0 -208px}.useyourdrive .ui-icon-circlesmall-minus{background-position:-16px -208px}.useyourdrive .ui-icon-circlesmall-close{background-position:-32px -208px}.useyourdrive .ui-icon-squaresmall-plus{background-position:-48px -208px}.useyourdrive .ui-icon-squaresmall-minus{background-position:-64px -208px}.useyourdrive .ui-icon-squaresmall-close{background-position:-80px -208px}.useyourdrive .ui-icon-grip-dotted-vertical{background-position:0 -224px}.useyourdrive .ui-icon-grip-dotted-horizontal{background-position:-16px -224px}.useyourdrive .ui-icon-grip-solid-vertical{background-position:-32px -224px}.useyourdrive .ui-icon-grip-solid-horizontal{background-position:-48px -224px}.useyourdrive .ui-icon-gripsmall-diagonal-se{background-position:-64px -224px}.useyourdrive .ui-icon-grip-diagonal-se{background-position:-80px -224px}.useyourdrive .ui-corner-all,.useyourdrive .ui-corner-top,.useyourdrive .ui-corner-left,.useyourdrive .ui-corner-tl{border-top-left-radius:0}.useyourdrive .ui-corner-all,.useyourdrive .ui-corner-top,.useyourdrive .ui-corner-right,.useyourdrive .ui-corner-tr{border-top-right-radius:0}.useyourdrive .ui-corner-all,.useyourdrive .ui-corner-bottom,.useyourdrive .ui-corner-left,.useyourdrive .ui-corner-bl{border-bottom-left-radius:0}.useyourdrive .ui-corner-all,.useyourdrive .ui-corner-bottom,.useyourdrive .ui-corner-right,.useyourdrive .ui-corner-br{border-bottom-right-radius:0}.useyourdrive .ui-widget-overlay{background:#aaa;opacity:.3;filter:Alpha(Opacity=30)}.useyourdrive .ui-widget-shadow{-webkit-box-shadow:0 0 0 #666;box-shadow:0 0 0 #666}
.useyourdrive .ui-widget{font-family:"Segoe UI",Tahoma,Arial,sans-serif;font-size:1em}.useyourdrive .ui-widget .ui-widget{font-size:1em}.useyourdrive .ui-widget input,.useyourdrive .ui-widget select,.useyourdrive .ui-widget textarea,.useyourdrive .ui-widget button{font-family:"Segoe UI",Tahoma,Arial,sans-serif;font-size:1em}.useyourdrive .ui-widget.ui-widget-content{border:1px solid #eaeaea}.useyourdrive .ui-widget-content{border:1px solid #eaeaea;background:#fff;color:#666}.useyourdrive .ui-widget-content a{color:#666}.useyourdrive .ui-widget-header{border:1px solid #0078d7;background:#0078d7;color:#FFF;font-weight:bold}.useyourdrive .ui-widget-header a{color:#FFF}.useyourdrive .ui-state-default,.useyourdrive .ui-widget-content .ui-state-default,.useyourdrive .ui-widget-header .ui-state-default,.useyourdrive .ui-button,html .useyourdrive .ui-button.ui-state-disabled:hover,html .useyourdrive .ui-button.ui-state-disabled:active{border:1px solid #eaeaea;background:#fff;font-weight:normal;color:#666}.useyourdrive .ui-state-default a,.useyourdrive .ui-state-default a:link,.useyourdrive .ui-state-default a:visited,a.useyourdrive .ui-button,a:link.useyourdrive .ui-button,a:visited.useyourdrive .ui-button,.useyourdrive .ui-button{color:#666;text-decoration:none}.useyourdrive .ui-state-hover,.useyourdrive .ui-widget-content .ui-state-hover,.useyourdrive .ui-widget-header .ui-state-hover,.useyourdrive .ui-state-focus,.useyourdrive .ui-widget-content .ui-state-focus,.useyourdrive .ui-widget-header .ui-state-focus,.useyourdrive .ui-button:hover,.useyourdrive .ui-button:focus{border:1px solid #0073aa;background:#0073aa;font-weight:normal;color:#fff}.useyourdrive .ui-state-hover a,.useyourdrive .ui-state-hover a:hover,.useyourdrive .ui-state-hover a:link,.useyourdrive .ui-state-hover a:visited,.useyourdrive .ui-state-focus a,.useyourdrive .ui-state-focus a:hover,.useyourdrive .ui-state-focus a:link,.useyourdrive .ui-state-focus a:visited,a.useyourdrive .ui-button:hover,a.useyourdrive .ui-button:focus{color:#fff;text-decoration:none}.useyourdrive .ui-visual-focus{box-shadow:0 0 3px 1px rgb(94,158,214)}.useyourdrive .ui-state-active,.useyourdrive .ui-widget-content .ui-state-active,.useyourdrive .ui-widget-header .ui-state-active,a.useyourdrive .ui-button:active,.useyourdrive .ui-button:active,.useyourdrive .ui-button.ui-state-active:hover{border:1px solid #0078d7;background:#0078d7;font-weight:normal;color:#fff}.useyourdrive .ui-icon-background,.useyourdrive .ui-state-active .ui-icon-background{border:#0078d7;background-color:#fff}.useyourdrive .ui-state-active a,.useyourdrive .ui-state-active a:link,.useyourdrive .ui-state-active a:visited{color:#fff;text-decoration:none}.useyourdrive .ui-state-highlight,.useyourdrive .ui-widget-content .ui-state-highlight,.useyourdrive .ui-widget-header .ui-state-highlight{border:1px solid #FFF;background:#0078d7;color:#FFF}.useyourdrive .ui-state-checked{border:1px solid #FFF;background:#0078d7}.useyourdrive .ui-state-highlight a,.useyourdrive .ui-widget-content .ui-state-highlight a,.useyourdrive .ui-widget-header .ui-state-highlight a{color:#FFF}.useyourdrive .ui-state-error,.useyourdrive .ui-widget-content .ui-state-error,.useyourdrive .ui-widget-header .ui-state-error{border:1px solid #dc3232;background:#dc3232;color:#FFF}.useyourdrive .ui-state-error a,.useyourdrive .ui-widget-content .ui-state-error a,.useyourdrive .ui-widget-header .ui-state-error a{color:#FFF}.useyourdrive .ui-state-error-text,.useyourdrive .ui-widget-content .ui-state-error-text,.useyourdrive .ui-widget-header .ui-state-error-text{color:#FFF}.useyourdrive .ui-priority-primary,.useyourdrive .ui-widget-content .ui-priority-primary,.useyourdrive .ui-widget-header .ui-priority-primary{font-weight:bold}.useyourdrive .ui-priority-secondary,.useyourdrive .ui-widget-content .ui-priority-secondary,.useyourdrive .ui-widget-header .ui-priority-secondary{opacity:.7;filter:Alpha(Opacity=70);font-weight:normal}.useyourdrive .ui-state-disabled,.useyourdrive .ui-widget-content .ui-state-disabled,.useyourdrive .ui-widget-header .ui-state-disabled{opacity:.35;filter:Alpha(Opacity=35);background-image:none}.useyourdrive .ui-state-disabled .ui-icon{filter:Alpha(Opacity=35)}.useyourdrive .ui-icon{width:16px;height:16px}.useyourdrive .ui-icon,.useyourdrive .ui-widget-content .ui-icon{background-image:url("images/ui-icons_666666_256x240.png")}.useyourdrive .ui-widget-header .ui-icon{background-image:url("images/ui-icons_FFF_256x240.png")}.useyourdrive .ui-state-hover .ui-icon,.useyourdrive .ui-state-focus .ui-icon,.useyourdrive .ui-button:hover .ui-icon,.useyourdrive .ui-button:focus .ui-icon{background-image:url("images/ui-icons_fff_256x240.png")}.useyourdrive .ui-state-active .ui-icon,.useyourdrive .ui-button:active .ui-icon{background-image:url("images/ui-icons_ffffff_256x240.png")}.useyourdrive .ui-state-highlight .ui-icon,.useyourdrive .ui-button .ui-state-highlight.ui-icon{background-image:url("images/ui-icons_FFF_256x240.png")}.useyourdrive .ui-state-error .ui-icon,.useyourdrive .ui-state-error-text .ui-icon{background-image:url("images/ui-icons_FFF_256x240.png")}.useyourdrive .ui-button .ui-icon{background-image:url("images/ui-icons_666666_256x240.png")}.useyourdrive .ui-icon-blank{background-position:16px 16px}.useyourdrive .ui-icon-caret-1-n{background-position:0 0}.useyourdrive .ui-icon-caret-1-ne{background-position:-16px 0}.useyourdrive .ui-icon-caret-1-e{background-position:-32px 0}.useyourdrive .ui-icon-caret-1-se{background-position:-48px 0}.useyourdrive .ui-icon-caret-1-s{background-position:-65px 0}.useyourdrive .ui-icon-caret-1-sw{background-position:-80px 0}.useyourdrive .ui-icon-caret-1-w{background-position:-96px 0}.useyourdrive .ui-icon-caret-1-nw{background-position:-112px 0}.useyourdrive .ui-icon-caret-2-n-s{background-position:-128px 0}.useyourdrive .ui-icon-caret-2-e-w{background-position:-144px 0}.useyourdrive .ui-icon-triangle-1-n{background-position:0 -16px}.useyourdrive .ui-icon-triangle-1-ne{background-position:-16px -16px}.useyourdrive .ui-icon-triangle-1-e{background-position:-32px -16px}.useyourdrive .ui-icon-triangle-1-se{background-position:-48px -16px}.useyourdrive .ui-icon-triangle-1-s{background-position:-65px -16px}.useyourdrive .ui-icon-triangle-1-sw{background-position:-80px -16px}.useyourdrive .ui-icon-triangle-1-w{background-position:-96px -16px}.useyourdrive .ui-icon-triangle-1-nw{background-position:-112px -16px}.useyourdrive .ui-icon-triangle-2-n-s{background-position:-128px -16px}.useyourdrive .ui-icon-triangle-2-e-w{background-position:-144px -16px}.useyourdrive .ui-icon-arrow-1-n{background-position:0 -32px}.useyourdrive .ui-icon-arrow-1-ne{background-position:-16px -32px}.useyourdrive .ui-icon-arrow-1-e{background-position:-32px -32px}.useyourdrive .ui-icon-arrow-1-se{background-position:-48px -32px}.useyourdrive .ui-icon-arrow-1-s{background-position:-65px -32px}.useyourdrive .ui-icon-arrow-1-sw{background-position:-80px -32px}.useyourdrive .ui-icon-arrow-1-w{background-position:-96px -32px}.useyourdrive .ui-icon-arrow-1-nw{background-position:-112px -32px}.useyourdrive .ui-icon-arrow-2-n-s{background-position:-128px -32px}.useyourdrive .ui-icon-arrow-2-ne-sw{background-position:-144px -32px}.useyourdrive .ui-icon-arrow-2-e-w{background-position:-160px -32px}.useyourdrive .ui-icon-arrow-2-se-nw{background-position:-176px -32px}.useyourdrive .ui-icon-arrowstop-1-n{background-position:-192px -32px}.useyourdrive .ui-icon-arrowstop-1-e{background-position:-208px -32px}.useyourdrive .ui-icon-arrowstop-1-s{background-position:-224px -32px}.useyourdrive .ui-icon-arrowstop-1-w{background-position:-240px -32px}.useyourdrive .ui-icon-arrowthick-1-n{background-position:1px -48px}.useyourdrive .ui-icon-arrowthick-1-ne{background-position:-16px -48px}.useyourdrive .ui-icon-arrowthick-1-e{background-position:-32px -48px}.useyourdrive .ui-icon-arrowthick-1-se{background-position:-48px -48px}.useyourdrive .ui-icon-arrowthick-1-s{background-position:-64px -48px}.useyourdrive .ui-icon-arrowthick-1-sw{background-position:-80px -48px}.useyourdrive .ui-icon-arrowthick-1-w{background-position:-96px -48px}.useyourdrive .ui-icon-arrowthick-1-nw{background-position:-112px -48px}.useyourdrive .ui-icon-arrowthick-2-n-s{background-position:-128px -48px}.useyourdrive .ui-icon-arrowthick-2-ne-sw{background-position:-144px -48px}.useyourdrive .ui-icon-arrowthick-2-e-w{background-position:-160px -48px}.useyourdrive .ui-icon-arrowthick-2-se-nw{background-position:-176px -48px}.useyourdrive .ui-icon-arrowthickstop-1-n{background-position:-192px -48px}.useyourdrive .ui-icon-arrowthickstop-1-e{background-position:-208px -48px}.useyourdrive .ui-icon-arrowthickstop-1-s{background-position:-224px -48px}.useyourdrive .ui-icon-arrowthickstop-1-w{background-position:-240px -48px}.useyourdrive .ui-icon-arrowreturnthick-1-w{background-position:0 -64px}.useyourdrive .ui-icon-arrowreturnthick-1-n{background-position:-16px -64px}.useyourdrive .ui-icon-arrowreturnthick-1-e{background-position:-32px -64px}.useyourdrive .ui-icon-arrowreturnthick-1-s{background-position:-48px -64px}.useyourdrive .ui-icon-arrowreturn-1-w{background-position:-64px -64px}.useyourdrive .ui-icon-arrowreturn-1-n{background-position:-80px -64px}.useyourdrive .ui-icon-arrowreturn-1-e{background-position:-96px -64px}.useyourdrive .ui-icon-arrowreturn-1-s{background-position:-112px -64px}.useyourdrive .ui-icon-arrowrefresh-1-w{background-position:-128px -64px}.useyourdrive .ui-icon-arrowrefresh-1-n{background-position:-144px -64px}.useyourdrive .ui-icon-arrowrefresh-1-e{background-position:-160px -64px}.useyourdrive .ui-icon-arrowrefresh-1-s{background-position:-176px -64px}.useyourdrive .ui-icon-arrow-4{background-position:0 -80px}.useyourdrive .ui-icon-arrow-4-diag{background-position:-16px -80px}.useyourdrive .ui-icon-extlink{background-position:-32px -80px}.useyourdrive .ui-icon-newwin{background-position:-48px -80px}.useyourdrive .ui-icon-refresh{background-position:-64px -80px}.useyourdrive .ui-icon-shuffle{background-position:-80px -80px}.useyourdrive .ui-icon-transfer-e-w{background-position:-96px -80px}.useyourdrive .ui-icon-transferthick-e-w{background-position:-112px -80px}.useyourdrive .ui-icon-folder-collapsed{background-position:0 -96px}.useyourdrive .ui-icon-folder-open{background-position:-16px -96px}.useyourdrive .ui-icon-document{background-position:-32px -96px}.useyourdrive .ui-icon-document-b{background-position:-48px -96px}.useyourdrive .ui-icon-note{background-position:-64px -96px}.useyourdrive .ui-icon-mail-closed{background-position:-80px -96px}.useyourdrive .ui-icon-mail-open{background-position:-96px -96px}.useyourdrive .ui-icon-suitcase{background-position:-112px -96px}.useyourdrive .ui-icon-comment{background-position:-128px -96px}.useyourdrive .ui-icon-person{background-position:-144px -96px}.useyourdrive .ui-icon-print{background-position:-160px -96px}.useyourdrive .ui-icon-trash{background-position:-176px -96px}.useyourdrive .ui-icon-locked{background-position:-192px -96px}.useyourdrive .ui-icon-unlocked{background-position:-208px -96px}.useyourdrive .ui-icon-bookmark{background-position:-224px -96px}.useyourdrive .ui-icon-tag{background-position:-240px -96px}.useyourdrive .ui-icon-home{background-position:0 -112px}.useyourdrive .ui-icon-flag{background-position:-16px -112px}.useyourdrive .ui-icon-calendar{background-position:-32px -112px}.useyourdrive .ui-icon-cart{background-position:-48px -112px}.useyourdrive .ui-icon-pencil{background-position:-64px -112px}.useyourdrive .ui-icon-clock{background-position:-80px -112px}.useyourdrive .ui-icon-disk{background-position:-96px -112px}.useyourdrive .ui-icon-calculator{background-position:-112px -112px}.useyourdrive .ui-icon-zoomin{background-position:-128px -112px}.useyourdrive .ui-icon-zoomout{background-position:-144px -112px}.useyourdrive .ui-icon-search{background-position:-160px -112px}.useyourdrive .ui-icon-wrench{background-position:-176px -112px}.useyourdrive .ui-icon-gear{background-position:-192px -112px}.useyourdrive .ui-icon-heart{background-position:-208px -112px}.useyourdrive .ui-icon-star{background-position:-224px -112px}.useyourdrive .ui-icon-link{background-position:-240px -112px}.useyourdrive .ui-icon-cancel{background-position:0 -128px}.useyourdrive .ui-icon-plus{background-position:-16px -128px}.useyourdrive .ui-icon-plusthick{background-position:-32px -128px}.useyourdrive .ui-icon-minus{background-position:-48px -128px}.useyourdrive .ui-icon-minusthick{background-position:-64px -128px}.useyourdrive .ui-icon-close{background-position:-80px -128px}.useyourdrive .ui-icon-closethick{background-position:-96px -128px}.useyourdrive .ui-icon-key{background-position:-112px -128px}.useyourdrive .ui-icon-lightbulb{background-position:-128px -128px}.useyourdrive .ui-icon-scissors{background-position:-144px -128px}.useyourdrive .ui-icon-clipboard{background-position:-160px -128px}.useyourdrive .ui-icon-copy{background-position:-176px -128px}.useyourdrive .ui-icon-contact{background-position:-192px -128px}.useyourdrive .ui-icon-image{background-position:-208px -128px}.useyourdrive .ui-icon-video{background-position:-224px -128px}.useyourdrive .ui-icon-script{background-position:-240px -128px}.useyourdrive .ui-icon-alert{background-position:0 -144px}.useyourdrive .ui-icon-info{background-position:-16px -144px}.useyourdrive .ui-icon-notice{background-position:-32px -144px}.useyourdrive .ui-icon-help{background-position:-48px -144px}.useyourdrive .ui-icon-check{background-position:-64px -144px}.useyourdrive .ui-icon-bullet{background-position:-80px -144px}.useyourdrive .ui-icon-radio-on{background-position:-96px -144px}.useyourdrive .ui-icon-radio-off{background-position:-112px -144px}.useyourdrive .ui-icon-pin-w{background-position:-128px -144px}.useyourdrive .ui-icon-pin-s{background-position:-144px -144px}.useyourdrive .ui-icon-play{background-position:0 -160px}.useyourdrive .ui-icon-pause{background-position:-16px -160px}.useyourdrive .ui-icon-seek-next{background-position:-32px -160px}.useyourdrive .ui-icon-seek-prev{background-position:-48px -160px}.useyourdrive .ui-icon-seek-end{background-position:-64px -160px}.useyourdrive .ui-icon-seek-start{background-position:-80px -160px}.useyourdrive .ui-icon-seek-first{background-position:-80px -160px}.useyourdrive .ui-icon-stop{background-position:-96px -160px}.useyourdrive .ui-icon-eject{background-position:-112px -160px}.useyourdrive .ui-icon-volume-off{background-position:-128px -160px}.useyourdrive .ui-icon-volume-on{background-position:-144px -160px}.useyourdrive .ui-icon-power{background-position:0 -176px}.useyourdrive .ui-icon-signal-diag{background-position:-16px -176px}.useyourdrive .ui-icon-signal{background-position:-32px -176px}.useyourdrive .ui-icon-battery-0{background-position:-48px -176px}.useyourdrive .ui-icon-battery-1{background-position:-64px -176px}.useyourdrive .ui-icon-battery-2{background-position:-80px -176px}.useyourdrive .ui-icon-battery-3{background-position:-96px -176px}.useyourdrive .ui-icon-circle-plus{background-position:0 -192px}.useyourdrive .ui-icon-circle-minus{background-position:-16px -192px}.useyourdrive .ui-icon-circle-close{background-position:-32px -192px}.useyourdrive .ui-icon-circle-triangle-e{background-position:-48px -192px}.useyourdrive .ui-icon-circle-triangle-s{background-position:-64px -192px}.useyourdrive .ui-icon-circle-triangle-w{background-position:-80px -192px}.useyourdrive .ui-icon-circle-triangle-n{background-position:-96px -192px}.useyourdrive .ui-icon-circle-arrow-e{background-position:-112px -192px}.useyourdrive .ui-icon-circle-arrow-s{background-position:-128px -192px}.useyourdrive .ui-icon-circle-arrow-w{background-position:-144px -192px}.useyourdrive .ui-icon-circle-arrow-n{background-position:-160px -192px}.useyourdrive .ui-icon-circle-zoomin{background-position:-176px -192px}.useyourdrive .ui-icon-circle-zoomout{background-position:-192px -192px}.useyourdrive .ui-icon-circle-check{background-position:-208px -192px}.useyourdrive .ui-icon-circlesmall-plus{background-position:0 -208px}.useyourdrive .ui-icon-circlesmall-minus{background-position:-16px -208px}.useyourdrive .ui-icon-circlesmall-close{background-position:-32px -208px}.useyourdrive .ui-icon-squaresmall-plus{background-position:-48px -208px}.useyourdrive .ui-icon-squaresmall-minus{background-position:-64px -208px}.useyourdrive .ui-icon-squaresmall-close{background-position:-80px -208px}.useyourdrive .ui-icon-grip-dotted-vertical{background-position:0 -224px}.useyourdrive .ui-icon-grip-dotted-horizontal{background-position:-16px -224px}.useyourdrive .ui-icon-grip-solid-vertical{background-position:-32px -224px}.useyourdrive .ui-icon-grip-solid-horizontal{background-position:-48px -224px}.useyourdrive .ui-icon-gripsmall-diagonal-se{background-position:-64px -224px}.useyourdrive .ui-icon-grip-diagonal-se{background-position:-80px -224px}.useyourdrive .ui-corner-all,.useyourdrive .ui-corner-top,.useyourdrive .ui-corner-left,.useyourdrive .ui-corner-tl{border-top-left-radius:0}.useyourdrive .ui-corner-all,.useyourdrive .ui-corner-top,.useyourdrive .ui-corner-right,.useyourdrive .ui-corner-tr{border-top-right-radius:0}.useyourdrive .ui-corner-all,.useyourdrive .ui-corner-bottom,.useyourdrive .ui-corner-left,.useyourdrive .ui-corner-bl{border-bottom-left-radius:0}.useyourdrive .ui-corner-all,.useyourdrive .ui-corner-bottom,.useyourdrive .ui-corner-right,.useyourdrive .ui-corner-br{border-bottom-right-radius:0}.useyourdrive .ui-widget-overlay{background:#aaa;opacity:.3;filter:Alpha(Opacity=30)}.useyourdrive .ui-widget-shadow{-webkit-box-shadow:0 0 0 #666;box-shadow:0 0 0 #666}

.useyourdrive .ui-widget-content{
  padding: 20px;
}

.useyourdrive .ui-datepicker-prev span,
.useyourdrive .ui-datepicker-next span {
  background-image: none !important;
}

.useyourdrive .ui-datepicker-prev:before,
.useyourdrive .ui-datepicker-next:before {
  font-family: Font Awesome\ 5 Free;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  display: flex;
  font-weight: normal;
  align-items: center;
  justify-content: center;
}

.useyourdrive .ui-datepicker-prev:before {
  content: "\f359";
}

.useyourdrive .ui-datepicker-next:before {
  content: "\f35a";
}

.useyourdrive .ui-datepicker select.ui-datepicker-month,
.useyourdrive .ui-datepicker select.ui-datepicker-year{
  font-size: 1em;
  height: auto;
  padding: 0;
}

.useyourdrive .ui-icon{
  background-image: none!important;
}