/*
Theme Name: begin
Description: Used to style the TinyMCE editor.
*/

html .content.mceContentBody {
	font: 16px "Microsoft YaHei", 微软雅黑, Helvetica;
	color: #555;
	line-height: 1.8;
	margin: 10px 20px 10px 10px;
	padding-top: 12px !important;
	max-width: 746px;
	min-height: 350px;
	border: 1px solid #ddd;
	position: relative;
}

html .footer_inf_t.mceContentBody,
html .footer_inf_b.mceContentBody {
	font: 16px "Microsoft YaHei", 微软雅黑, Helvetica;
	color: #555;
	line-height: 1.8;
}

html .content.mceContentBody:after {
	content: '侧边栏';
	font-size: 13px;
	color: #ddd;
	position: absolute;
	right: -20px;
	top: 0;
	display: block;
	width: 5px;
	word-break: break-all;
}

html .content.mceContentBody:before {
	content: '正文版心';
	font-size: 13px;
	color: #ddd;
	position: absolute;
	left: 10px;
	top: -12px;
	display: block;
	background: #fff;
}

dl {
	margin-bottom: 1.6em;
}

dt {
	font-weight: bold;
}

dd {
	margin-bottom: 1.6em;
}

table, th, td {
	border: 1px solid #eaeaea;
}

table {
	border-collapse: separate;
	border-spacing: 0;
	border-width: 1px 0 0 1px;
	margin: 0 0 10px;
}

caption, th, td {
	font-weight: normal;
	text-align: left;
}

th {
	border-width: 0 1px 1px 0;
	font-weight: 700;
}

td {
	border-width: 0 1px 1px 0;
}

th, td {
	padding: 10px;
}

pre {
	background: #f1f1f1;
	line-height: 190%;
	max-width: 100%;
	overflow: auto;
	padding: 10px;
	white-space: pre;
	white-space: pre-wrap;
	word-wrap: break-word;
}

a img {
	border: 0;
}

a {
	color: #555;
}

p, ul, ol, dd, pre {
	margin: 0 0 5px 0;
	-webkit-hyphens: auto;
	-moz-hyphens: auto;
	-ms-hyphens: auto;
	hyphens: auto;
	word-wrap: break-word;
}

h2 {
	font-size: 17px;
	line-height: 190%;
	margin: 10px -5px;
	text-indent: 2em;
	border-left: 5px solid #e40000;
}

h3,h4 {
	font-size: 16px;
	line-height: 190%;
	margin: 10px -5px;
	text-indent: 2em;
	border-left: 5px solid #0088cc;
}

p {
	text-indent: 2em;
	margin: 0 0 12px
}

ul li, ol li {
	margin: 0 0 0 10px;
	line-height: 190%;
}

ul li {
	list-style: square;
}

ol li {
	list-style: decimal;
}

blockquote {
	width: 94%;
	color: #8b8b8b;
	margin: 0 auto;
	padding: 10px;
	clear: both;
	border: 1px dashed #ddd;
}

fieldset {
	width: 94%;
	padding: 5px 15px;
	margin: 0 0 10px 0;
	border: 1px solid #ddd;
}

legend {
	font-weight: bold;
	padding: 5px;
}

img {
	height: auto;
	max-width: 100%;
	vertical-align: middle;
}

.wp-caption {
	background: #f3f3f3;
	border: 1px solid #ebebeb;
	padding: 5px;
	border-radius: 3px;
}

.wp-caption img[class*="wp-image-"] {
	display: block;
	margin: 0;
}

.wp-caption-dt {
	line-height: 0 !important;
	margin: 0 0 5px 0;
}

.wp-caption-dd {
	font-size: 14px;
	text-align: center !important;
}

blockquote.wp-embedded-content {
	display: none;
}

.wp-embedded-content {
	width: 100%;
}

/** 图文混排 **/
img.centered {
	display: block;
	margin: 0 auto 10px;
}

img.alignnone {
	margin: 0 0 10px 0;
	display: block;
}

img.alignright {
	margin: 0 0 10px 10px;
	display: inline;
}

img.alignleft {
	margin: 0 10px 10px 0;
	display: inline;
}

.aligncenter {
	display: block;
	margin: 0 auto 10px;
}

.alignright {
	float: right;
	margin: 0 0 10px 10px;
}

.alignleft {
	float: left;
	margin: 0 10px 10px 0;
}

/** 代码 **/
.dp-highlighter ul li, .dp-highlighter ol li {
	margin: 0 0 0 50px;
	line-height: 190%;
}

.dp-highlighter {
	background: #fff;
	border: 1px dashed #ccc;
	width: 96%;
	word-break: break-all;
	white-space: normal;
	overflow: auto;
	margin: 10px auto;
	padding: 5px;
}

.dp-highlighter:hover {
	background: #fafafa;
	border: 1px dashed #0088cc;
}

.dp-highlighter .bar {
	padding: 2px;
	display: none;
}

.dp-highlighter .collapsed .bar,.dp-highlighter .nogutter .bar {
	padding-left: 0px
}

.dp-highlighter ol {
	margin: 0px 0px 1px -15px;
	padding: 2px;
	color: #666;
}

.dp-highlighter.nogutter ol {
	list-style-type: none;
	margin-left: 0px;
}

.dp-highlighter ol li,.dp-highlighter .columns div {
	border-left: 1px dashed #ccc;
	padding-left: 10px;
	line-height: 18px;
}

.dp-highlighter .nogutter ol li,.dp-highlighter .nogutter .columns div {
	border: 0;
}

.dp-highlighter .columns {
	color: gray;
	width: 100%;
}

.dp-highlighter .columns div {
	padding-bottom: 5px;
}

.dp-highlighter ol li.alt {
}

.dp-highlighter ol li span {
	color: Black;
}

.dp-highlighter .collapsed ol {
	margin: 0px;
}

.dp-highlighter .collapsed ol li {
	display: none;
}

.dp-highlighter .printing {
	border: none;
}

.dp-highlighter .printing .tools {
	display: none !important;
}

.dp-highlighter .printing li {
	display: list-item !important;
}

.dp-highlighter .tools {
	padding: 3px 8px 3px 15px;
	border-bottom: 1px solid #2B91AF;
	color: silver;
}

.dp-highlighter .collapsed .tools {
	border-bottom: 0;
}

.dp-highlighter .tools a {
	font-size: 9pt;
	color: gray;
	text-decoration: none;
	margin-right: 10px;
}

.dp-highlighter .tools a:hover {
	color: red;
	text-decoration: underline;
}

.dp-about {
	background-color: # fff;
	margin: 0px;
	padding: 0px;
}

.dp-about table {
	width: 100%;
	height: 100%;
}

.dp-about td {
	padding: 10px;
	vertical-align: top;
}

.dp-about .copy {
	border-bottom: 1px solid #ACA899;
	height: 95%;
}

.dp-about .title {
	color: red;
	font-weight: bold;
}

.dp-about .para {
	margin: 0 0 4px 0;
}

.dp-about .footer {
	background-color: #ECEADB;
	border-top: 1px solid #fff;
	text-align: right;
}

.dp-about .close {
	background-color: #ECEADB;
	width: 60px;
	height: 22px;
}

.dp-c {
}

.dp-c .comment {
	color: green;
}

.dp-c .string {
	color: blue;
}

.dp-c .preprocessor {
	color: gray;
}

.dp-c .keyword {
	color: blue;
}

.dp-c .vars {
	color: #d00;
}

.dp-vb {
}

.dp-vb .comment {
	color: green;
}

.dp-vb .string {
	color: blue;
}

.dp-vb .preprocessor {
	color: gray;
}

.dp-vb .keyword {
	color: blue;
}

.dp-sql {
}

.dp-sql .comment {
	color: green;
}

.dp-sql .string {
	color: red;
}

.dp-sql .keyword {
	color: rgb(127,0,85);
}

.dp-sql .func {
	color: #ff1493;
}

.dp-sql .op {
	color: blue;
}

.dp-xml {
}

.dp-xml .cdata {
	color: #ff1493;
}

.dp-xml .comments {
	color: green;
}

.dp-xml .tag {
	font-weight: bold;
	color: blue;
}

.dp-xml .tag-name {
	color: rgb(127,0,85);
	font-weight: bold;
}

.dp-xml .attribute {
	color: red
}

.dp-xml .attribute-value {
	color: blue
}

.dp-delphi {
}

.dp-delphi .comment {
	color: #008200;
	font-style: italic;
}

.dp-delphi .string {
	color: blue;
}

.dp-delphi .number {
	color: blue;
}

.dp-delphi .directive {
	color: #008284;
}

.dp-delphi .keyword {
	font-weight: bold;
	color: navy;
}

.dp-delphi .vars {
	color: #000;
}

.dp-py {
}

.dp-py .comment {
	color: green;
}

.dp-py .string {
	color: red;
}

.dp-py .docstring {
	color: green;
}

.dp-py .keyword {
	color: blue;
	font-weight: bold;
}

.dp-py .builtins {
	color: #ff1493;
}

.dp-py .magicmethods {
	color: #808080;
}

.dp-py .exceptions {
	color: brown;
}

.dp-py .types {
	color: brown;
	font-style: italic
}

.dp-py .commonlibs {
	color: #8A2BE2;
	font-style: italic;
}

.dp-rb {
}

.dp-rb .comment {
	color: #c00;
}

.dp-rb .string {
	color: #f0c;
}

.dp-rb .symbol {
	color: #02b902;
}

.dp-rb .keyword {
	color: #069;
}

.dp-rb .variable {
	color: #6cf;
}

.dp-css {
}

.dp-css .comment {
	color: green;
}

.dp-css .string {
	color: red;
}

.dp-css .keyword {
	color: blue;
}

.dp-css .colors {
	color: darkred;
}

.dp-css .vars {
	color: #d00;
}

.dp-j {
}

.dp-j .comment {
	color: rgb(63,127,95);
}

.dp-j .string {
	color: rgb(42,0,255);
}

.dp-j .keyword {
	color: rgb(127,0,85);
	font-weight: bold;
}

.dp-j .annotation {
	color: #646464;
}

.dp-j .number {
	color: #C00000;
}

.dp-cpp {
}

.dp-cpp .comment {
	color: #e00;
}

.dp-cpp .string {
	color: red
}

.dp-cpp .preprocessor {
	color: #CD00CD;
	font-weight: bold;
}

.dp-cpp .keyword {
	color: #5697D9;
	font-weight: bold;
}

.dp-cpp .datatypes {
	color: #2E8B57;
	font-weight: bold;
}

.dp-perl {
}

.dp-perl .comment {
	color: green;
}

.dp-perl .string {
	color: red;
}

.dp-perl .keyword {
	color: rgb(127,0,85);
}

.dp-perl .func {
	color: #ff1493;
}

.dp-perl .declarations {
	color: blue;
}

.dp-css .vars {
	color: #d00;
}

.dp-g {
}

.dp-g .comment {
	color: rgb(63,127,95);
}

.dp-g .string {
	color: rgb(42,0,255);
}

.dp-g .keyword {
	color: rgb(127,0,85);
	font-weight: bold;
}

.dp-g .type {
	color: rgb(0,127,0);
	font-weight: bold;
}

.dp-g .modifier {
	color: rgb(100,0,100);
	font-weight: bold;
}

.dp-g .constant {
	color: rgb(255,0,0);
	font-weight: bold;
}

.dp-g .method {
	color: rgb(255,96,0);
	font-weight: bold;
}

.dp-g .number {
	color: #c00000;
}